.main {
    margin: 0;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.createSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
