.navContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.landingContainer {
    height: 85vh;
    background-color: white;
    padding-top: 5rem;
}

.title {
    color: #1e1f23;
}

.contentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-top: 5rem;
    gap: 8px;
}

.leftContainer {
    padding-top: 3rem;
    grid-row: span 4 / span 4;
    display: flex;
    justify-content: flex-end;
}

.leftContent {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 5rem;
}

.rightContainer {
    grid-row: span 4 / span 4;
    transition: filter 300ms;

}

.rightContent {
    padding-left: 5rem;
}

.rightContent:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.title {
    font-size: 5rem;
    letter-spacing: 0.05rem;
    margin: 0;
}

.buttonComponent {
    background: #5f9aff;
    color: white;
    padding: 0.9rem 1.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: fit-content;
    margin-top: 0.5rem;
    transition: 0.2s ease;
}

.buttonComponent:hover {
    background: #70a7ff;
    color: white;

}

.image {
    width: 500px;
    height: 500px;
    max-width: 100%;
    border-radius: 16px;
}
