.navContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.landingContainer {
    height: 90vh;
    background-color: #8ab4ff;
    padding-top: 5rem;
}

.title {
    color: #1e1f23;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 40vh;
    padding: 10rem;
    gap: 2rem;
}

.leftContainer {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rightContainer {
    flex-shrink: 0;
}

.buttonComponent {
    background: #5f9aff;
    color: white;
    padding: 0.9rem 1.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: fit-content;
    margin-top: 0.5rem;
    transition: 0.2s ease;
}

.buttonComponent:hover {
    background: #70a7ff;
    color: white;

}

.image {
    width: 500px;
    height: 500px;
    max-width: 100%;
    border-radius: 16px;
}
