.navContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.landingContainer {
    height: 95vh;
    background-color: white;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.contentContainer {
    display: grid;
    grid-template-columns: 5rem 1fr;
    height: 90%;
    border: 2px solid black;
    background-color: #f9f9f9;
}

.sidebarContent {
    background-color: #fff;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.bodyContent {
    display: flex;
    justify-content: center;
    background-color: #fff;
    overflow-y: auto;
}
