.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.inputError {
    color: red;
    font-size: 0.875rem;
}
