.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.textarea {
    resize: none;
    padding: 1rem;
}

.inputError {
    color: red;
    font-size: 0.875rem;
}
